.slider
{
    top:100px;
    height:430px;
    z-index: -1;
}
.menu{
    top:80px;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    position: absolute;
}
.obligation{
    left: 100px;
    top: 150px;
    position: absolute;
    height: 130px;
    width: 130px;
    z-index: 1;
    background-color: #000000;
    opacity: 0.6;
    text-align: center;
}
.work{
    left: 250px;
    top: 150px;
    position: absolute;
    height: 130px;
    width: 130px;
    z-index: 1;
    background-color: #000000;
    opacity: 0.6;
    text-align: center;

}
.online{
    left: 100px;
    top: 300px;
    text-align: center;
    position: absolute;
    z-index: 1;
    height: 130px;
    width: 130px;
    opacity: 0.6;
    background-color: #000000;
}
.community{
    left: 250px;
    top: 300px;
    height: 130px;
    text-align: center;
    width: 130px;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    background-color: #000000;
}
.lower{
    top: 475px;
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
    width: 100%;

}
 .webdesign
 {
     top: 650px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch1.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .graphic
 {
     top: 1150px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch2.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .host
 {
     top: 1650px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch1.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .mobile
 {
     top: 2150px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch2.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .data
 {
     top: 2650px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch1.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .soft
 {
     top: 3150px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch2.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .int
 {
     top: 3650px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch1.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .ITcons
 {
     top: 4150px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch2.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
 .source
 {
     top: 4650px;
     position: absolute;
     left:  0px;
     width: 100%;
     height: 500px;
     background-image:url('bg-patch1.jpg');
     background-repeat: repeat;
     background-color: dodgerblue;
 }
.footer
{
    position: absolute;
    text-align: left;
    top: 5150px;
    height: 200px;
    width: 100%;
    background-color: #000000;
   color: #ffffff;

}
